@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(36, 36, 40);
  color: #ccc;
  width: 100vw;
  /* margin-left: 7rem;
  margin-right: 7rem; */
  max-width: 1200px;
  /* width: 100%; */
  font-family: "Poppins", Arial;
  min-height: 100vh;
 
}

.nav {
  background-color: rgb(36, 36, 40);
  line-height: 60px;
}

.mxg {
  margin-left: 7rem;
  margin-right: 7rem;
}

.hero {
  background-image: linear-gradient(to top, #787474 0%, rgb(36, 36, 40) 100%);
  width: 100vw;
}


.homenav {
  /* background-color: rgba(36,36,40,.8); */
  backdrop-filter: blur(10px);
}

.number {
  transform: rotate(-90deg);
}
